/* #myid{
    color: red;
    background-color: yellow;
}

h4{
    color: white;
    background-color: green;
}
.myclass{
    color: aqua;
    background-color: black;
}
*/
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    background-color: firebrick ;
}

/*
#box {
    width: 100px;
    height: 200px;
    background-color: darkcyan;
    color: yellow;
} */

.para{
    width: 100px;
    height: 100px;
    color: red;
    background-color: lightblue;
    border: 5px solid black;
}

.newpara{
    width: 100px;
    background-color:darkblue;
    border: 5px solid yellow;
}

/* div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: red;
    border: 2px solid black;
} */

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

.body-chng{
    color: green;
    background-color: sandybrown;
    border: 5px solid white;    
    font-family: fantasy;
}